# Игнорирование папки с временными копиями
LibraryComponents/History/

# Игнорирование файла с логами
LibraryComponents/debug.log

# Игнорирование скомпилированных библиотек
*.IntLib

# Игнорирование папки с превью pcb
Template/PCBTemplate/__Previews

# Игнорирование всех превью pcb
*.PcbDocPreview